.version-info {
  color: white;
  position: absolute;
  bottom: 5px;
}

.maarchLogo {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 250px;
  height: auto;
  padding-bottom: 10px;
}

.login-content {
  --background: var(--ion-color-primary);
}

.forgot-password {
  display: block;
  text-align: right;
}

.connection-type {
  display: flex;
  justify-content: flex-end;
}

.loginMessage {
  margin-top: 10px;
  text-align: center;
  overflow: auto;
  max-height: 150px;
}