<ion-content class="login-content">
    <mat-icon svgIcon="maarchLogo" class="maarchLogo"></mat-icon>

    <ion-card style="width: 400px;position: absolute;left: 50%;top: 50%;transform: translate(-50%,-50%);">
        <ion-card-header *ngIf="!functions.empty(authService.loginMessage)">
            <ion-card-subtitle class="loginMessage">
                <div [innerHTML]="authService.loginMessage | safeHtml"></div>
            </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
                <ion-item>
                    <ion-label position="floating">{{'lang.login' | translate}}</ion-label>
                    <ion-input formControlName="login" type="text" (keyup.enter)="onSubmit()"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">{{'lang.password' | translate}}</ion-label>
                    <ion-input name="password" matInput type="password" formControlName="password"
                        (keyup.enter)="onSubmit()"></ion-input>
                </ion-item>
                <div class="connection-type">
                    <a routerLink="/forgot-password" *ngIf="authService.authMode === 'default' && authService.mailServerOnline"
                        class="forgot-password">{{'lang.forgotPassword' | translate}}</a>
                    <a (click)="mailServerOffline()" *ngIf="authService.authMode === 'default' && !authService.mailServerOnline"
                        class="forgot-password" style="cursor: pointer; text-decoration: underline">{{'lang.forgotPassword' | translate}}</a>
                    <a href="" *ngIf="authService.authMode === 'ldap'"
                        class="forgot-password">{{'lang.ldapEnabled' | translate}}</a>
                    <a href="" *ngIf="authService.authMode === 'kerberos'"
                        class="forgot-password">{{'lang.kerberosEnabled' | translate}}</a>
                    <a href="" *ngIf="authService.authMode === 'x509'"
                        class="forgot-password">{{'lang.x509Enabled' | translate}}</a>
                </div>
                <ion-button type="submit" expand="block" [disabled]="loginForm.invalid || loading">
                    {{'lang.connect' | translate}}
                </ion-button>
            </form>
        </ion-card-content>
    </ion-card>
    <ion-note class="version-info">
        Maarch Parapheur {{environment.VERSION}} <a *ngIf="commitHash !== null" style="color: white" target="blank" href="{{'lang.repoUrl' | translate}}/commit/{{commitHash}}">{{commitHash.substring(0, 8)}}</a> Powered by {{environment.AUTHOR}}
    </ion-note>
</ion-content>
