<ion-list lines="none">
    <ion-list-header>
        <ion-label color="secondary">{{'lang.circuitModels' | translate}}</ion-label>
    </ion-list-header>
    <ion-item button *ngFor="let model of visaWorkflowService.visaWorkflowModels" (click)="loadVisaWorkflow(model)">
        <ion-label>{{model.title}}</ion-label>
        <ion-buttons slot="end">
            <ion-button fill="clear" slot="icon-only" shape="round" color="danger" (click)="$event.stopPropagation(); visaWorkflowService.removeModel(model)">
                <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-item>
    <ion-item button (click)="visaWorkflowService.createModel(currentWorkflow)" [disabled]="currentWorkflow.length === 0">
        <ion-icon color="primary" slot="start" name="add-circle-outline"></ion-icon>
        <ion-label color="primary">{{'lang.newTemplate' | translate}}</ion-label>
    </ion-item>
</ion-list>