<ion-header [translucent]="true">
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button menu="left-menu"></ion-menu-button>
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>{{'lang.customization' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>
<form *ngIf="!loading" style="display: contents;" id="customizationForm" (ngSubmit)="onSubmit()" #customizationForm="ngForm">
    <ion-content>
        <ion-list-header>
            <ion-label color="secondary">
                {{ 'lang.loginMessage' | translate}}
            </ion-label>
        </ion-list-header>
        <ion-item lines="none">
            <textarea style="padding-top: 10px;width: 100%;" name="login_message" id="login_message" 
                [value]="loginMessage" [(ngModel)]="loginMessage">
            </textarea>
        </ion-item>
        <ion-item text-center lines="none" style="position: sticky;bottom:0px;z-index:1;">
            <div style="display: flex;align-items: center;justify-content: center;width: 100%;background: white;">
                <ion-button type="submit" shape="round" size="large" fill="outline" color="primary">
                    <ion-label style="font-size: 13px;">{{'lang.validate' | translate}}</ion-label>
                </ion-button>
            </div>
        </ion-item>
    </ion-content>
</form>