<form style="display: contents;" #otpForm="ngForm">
    <ion-list lines="full" class="ion-no-margin">
        <ion-item>
            <ion-label color="secondary" position="floating">{{'lang.firstname' | translate}} *</ion-label>
            <ion-input name="firstname" [maxlength]="128" [(ngModel)]="otp.firstname" placeholder="Alain" required>
            </ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="secondary" position="floating">{{'lang.lastname' | translate}} *</ion-label>
            <ion-input name="lastname" [maxlength]="128" [(ngModel)]="otp.lastname" placeholder="Dupont" required>
            </ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="secondary" position="floating">{{'lang.phoneAlt' | translate}} *</ion-label>
            <ion-input name="phone" [pattern]="getRegexPhone()" [(ngModel)]="otp.phone" placeholder="+33646342143" required></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="secondary" position="floating">{{'lang.email' | translate}} *
            </ion-label>
            <ion-input name="email" pattern="(^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$)"
                placeholder="alain.dupont@gmail.com" [(ngModel)]="otp.email" required>
            </ion-input>
        </ion-item>
    </ion-list>
    <ion-list>
        <ion-radio-group name="role" [(ngModel)]="otp.role" [value]="otp.role">
            <ion-list-header>
                <ion-label color="secondary">{{'lang.role' | translate}} *</ion-label>
            </ion-list-header>
            <div style="display:flex;">
                <ion-item *ngFor="let role of roles" style="flex:1;">
                    <ion-label>{{'lang.' + role + 'User' | translate}}</ion-label>
                    <ion-radio slot="start" [value]="role"></ion-radio>
                </ion-item>
            </div>
        </ion-radio-group>
    </ion-list>
    <ion-list *ngIf="securityModes.length > 1 && otp.role !== 'otp_visa_yousign'">
        <ion-item>
            <ion-label color="secondary" position="floating">{{'lang.securityCodeSendMode' | translate}} *</ion-label>
            <ion-select name="mode" [(ngModel)]="otp.security" [value]="otp.security"
                cancelText="{{'lang.cancel' | translate}}" [disabled]="securityModes.length === 1">
                <ion-select-option *ngFor="let security of securityModes" [value]="security">
                    {{'lang.' + security | translate}}</ion-select-option>
            </ion-select>
        </ion-item>
    </ion-list>
</form>