.item-interactive-disabled.sc-ion-label-md-h:not(.item-multiple-inputs), .item-interactive-disabled:not(.item-multiple-inputs) .sc-ion-label-md-h {
    opacity: initial !important;
}

.error {
    font-size: 10px;
    padding: 5px;
    color: var(--ion-color-danger);
}